@font-face {
  font-family: "Mabry Pro Bold";
  src: url("../font/MabryPro-Bold.eot");
  src: local("../font/Mabry Pro Bold"), local("../font/MabryPro-Bold"), url("../font/MabryPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Bold.woff2") format("woff2"), url("../font/MabryPro-Bold.woff") format("woff"), url("../font/MabryPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-size: 20px;
}
@font-face {
  font-family: "Mabry Pro Light";
  src: url("../font/MabryPro-Light.eot");
  src: local("../font/Mabry Pro Light"), local("../font/MabryPro-Light"), url("../font/MabryPro-Light.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Light.woff2") format("woff2"), url("../font/MabryPro-Light.woff") format("woff"), url("../font/MabryPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mabry Pro Regular";
  src: url("../font/MabryPro-Regular.eot");
  src: local("../font/Mabry Pro"), local("../font/MabryPro-Regular"), url("../font/MabryPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Regular.woff2") format("woff2"), url("../font/MabryPro-Regular.woff") format("woff"), url("../font/MabryPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* body {
  font-family: "Mabry Pro Regular";
  color: #2b2b2b;
}

.header {
  height: 170px;
  font-family: "Mabry Pro Regular";
}

.header__visor {
  height: 38px;
  background-color: #2b2b2b;
}
.header__visor:hover {
  font-weight: bold;
}

.header__info {
  display: flex;
  height: 76px;
  font-family: "Mabry Pro Bold";
}

.header__nav_elements {
  font-family: "Mabry Pro Bold";
  list-style-type: none;
}

.header__nav_about {
  text-decoration: none;
  border: none;
  font-family: "Mabry Pro Bold";
}

.nav_element_section_light {
  font-family: "Mabry Pro Light";
}

a {
  text-decoration: none;
  font-family: "Mabry Pro Bold";
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mabry Pro Bold";
}